html {
    font-family: 'Avenir';
    padding: 3em 2em;
    font-size: 18px;
    background: rgb(216, 201, 186);
    /* color: #aaa */
  }

body {
    background: rgb(216, 201, 186)  
}

p{
    margin: 10px;
    font-family: "Avenir";
    font-size: 16px;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    /* top: 100;  */
    left: 0;
}
.icon {
    height: 20px;
    width: 20px;
    margin: 10px;
}
.navbar {
    overflow: hidden;
    background-color: rgb(169, 148, 128);
    justify-content: flex-end;
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    font-family: 'Avenir';
    z-index: 1;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: flex-end;

  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .navbar a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(216, 201, 186);
    opacity: 100%;
    color: white;
    text-align: center;
  }
  
.text{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    padding: 20px 20px;
}

.title{
    font-family: 'Avenir';
    font-size: 32px;
    font-weight: normal;
    /* padding: 10px 10px;
    margin: 10px 10px; */

}

.description{
    font-family: 'Avenir';
    font-size: 16px;
    /* margin: 10px 10px; */
}

.portrait{
    width: 30%;
    padding: 20px 20px;
    /* margin: 30px 30px; */

}

.contact-text {
    display: flex;
    flex-direction: row;
    /* margin-top: 70px; */
    justify-content: center;
    /* align-items: center; */
    align-self: flex-end;
    color: rgb(95, 77, 77);
}

.contact-text-left {
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
    width: 25%;
}

.contact-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    width: 20%;
}
h1 {
    font-size: 32px;
    font-family: "Avenir";
    font-weight: normal;
    margin: 10px;
}
.next-line {
    font-size: 32px;
    font-family: "Avenir";
    font-weight: normal;
    text-align: right;
}
p {
    font-size: 18px;
    font-family: "Avenir";
    margin: 15px 10px;
    display: flex;
    justify-content: center;
}

.circle-small {
    background: lightgoldenrodyellow;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    opacity: 50%;
    margin: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-medium {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-icon {
    height: 40px;
}

.mail-icon {
    height: 80px; 
}

.vl {
    border-left: 3px solid rgb(95, 77, 77);
    opacity: 75%;
    height: 300px;
    margin-top: auto;
    margin-bottom:auto;
  }