
html {
  font-family: 'Avenir';
  padding: 3em 2em;
  font-size: 18px;
  background: rgb(216, 201, 186);
  /* color: #aaa */
}

body {
  font-family: 'Avenir';
  padding: 3em 2em;
  font-size: 18px;
  background: rgb(216, 201, 186);
  /* color: #aaa */
}

h1 {
  font-family: "Avenir";
  font-size: 24px;
  color: rgb(95, 77, 77);
  font-weight: normal;
  margin: 20px 10px 5px 10px;
}

p{
  font-family: "Avenir";
  font-size: 36px;
  text-align: center;
  margin: 0px 10px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  /* top: 100;  */
  left: 0;
}
.icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}
.navbar {
  overflow: hidden;
  background-color: rgb(169, 148, 128);
  justify-content: flex-end;
  display: flex;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  font-family: 'Avenir';
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: flex-end;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  rgb(216, 201, 186);
  opacity: 100%;
  color: white;
  text-align: center;
}

/* a:link {
  color: rgb(71, 34, 71);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.description a:hover {
  color: black;
  background-color: rgb(235, 217, 139);
  text-decoration: underline;
} */

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  /* padding: 20px 80px; */
  color: rgb(95, 77, 77);
}

.portrait{
  width: 300px;
}
